<h1 class="text-3xl font-bold">Applications</h1>
<div class="flex">
    <!-- Left Sidebar -->
    <div class="w-64">
        <ul class="">
            <li *ngFor="let application of applications" class="cursor-pointer py-2 text-lg flex justify-between hover:bg-gray-200/20 border-b border-gray-200">
                <a [attr.href]="'/applications/' + application.id" class="w-full text-left flex justify-between">
                    <span class="font-medium">{{ application.name }}</span>
                    <span class="text-sm text-gray-500/80">ID: {{ application.id }}</span>
                </a>
            </li>
        </ul>
            <button (click)="addNewApplication()" class="mt-2 w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700">
                Add New Application
            </button>
    </div>


    <!-- Main Content Area -->
    <div class="flex-grow p-4">
        <h2 class="text-4xl mb-2">New Application</h2>
        <form class="flex gap-1">
            <textarea name="" id="" class="h-60 w-2/3 ring-black p-2 ring-2 ring-opacity-15 rounded-md"></textarea>
            <div class="w-1/3">
                <label for="response-type" class="block text-sm font-medium text-gray-700">Select Template</label>
                <select id="response-type" formControlName="responseType" class="p-2 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="string">String</option>
                    <option value="number">Number</option>
                </select>
            </div>
        </form>

    </div>
</div>
