<h1 class="text-3xl font-bold">Add New Field</h1>

<div class="mt-4">
    <form [formGroup]="templateForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div class="flex w-full">

            <div class="w-2/3">
                <label for="new-field" class="block text-sm font-medium text-gray-700">Field</label>
                <input type="text" id="new-field" formControlName="fieldName" class="p-2 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter field name">
            </div>
            <div class="w-1/3">
                <label for="response-type" class="block text-sm font-medium text-gray-700">Response Type</label>
                <select id="response-type" formControlName="fieldType" class="p-2 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="string">Text</option>
                    <option value="number">Number</option>
                </select>
            </div>
        </div>
            <div>
                <label for="new-expected-value" class="block text-sm font-medium text-gray-700">Example Output</label>
                <input type="text" id="new-expected-value" formControlName="expectedValue" class="p-2 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter expected value">
            </div>
        
        <div *ngIf="formInvalid" class="text-red-600 text-sm">
            Please fill out all form fields
        </div>

        <div>
            <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Add Field
            </button>
        </div>
    </form>
    <div *ngIf="template.length >= 1" class="mt-8 w-full" >
        <h2 class="text-2xl font-bold">Current Template</h2>
        <div class="w-full mt-4 flex items-center gap-3 text-sm opacity-80">
            <p class="text-black/50 w-1/12">Type</p>
            <label class="w-4/12 text-gray-700">Field</label>
            <p class="w-7/12 p-2">Example outcome</p>
        </div>
            <div *ngFor="let field of template" class="mt-2 flex items-center gap-3">
                <p class="w-1/12 text-black/50">{{ field.fieldType == "text" ? "T" : "#" }}</p>
                <label class="w-4/12 text-gray-700 text-2xl font-semibold">{{ field.fieldName }}</label>
                <p class=" w-7/12 p-2">{{ field.expectedValue }}</p>
            </div>
        <button type="submit" (click)="saveTemplate()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Save Template
            </button>
    </div>
    
</div>
